---
//src/components/Footer.astro
---
<section id="footer" class="container">

    <div class="footer-container">

        <!--Columna Izquierda -->
        <div class="footer-column left"> 
           <p>09865367788</p>
           <p>VIKINGOD.100</p>
           <p>MONTEVIDEO SUR</p>
        </div>

        <!-- Linea divisora -->
        <div class="divider"></div>

       <!--Columna Central  -->
        <div class="footer-column center">
            <div class="circle-background">
              <p>Luce poderoso<br>Luce Vikingo.</p>
            </div>
        </div>
        
        <!-- Linea divisora -->
        <div class="divider"></div>

        <!--Columna Derecha -->
        <div class="footer-column right"> 
            <a href="#inicio">INICIO</a>
            <a href="#nosotros">NOSOTROS</a>
            <a href="#trabajos">TRABAJOS</a>
            <a href="#servicios">SERVICIOS</a>
            <a href="#contactos">CONTACTOS</a>
        </div>
    </div>
   
</section>