---
//src/components/Footer.astro

import Icon from "./Icon.astro" 
---
<section id="contactos" class="container">
 
    <div class="footer-container">

        <!--Columna Izquierda -->
        <div class="footer-column left">
            <div class="icon-text animate__animated animate__fadeInLeft " >
              <Icon name = "phone"  size ={35}  color = "#FF4D00" />
                <p>09865367788</p>
            </div>
            <div class="icon-text animate__animated animate__fadeInLeft animate__delay-2s" >
              <Icon name = "tag"  size ={35}  color = "#FF4D00" />
                <p>VIKINGOD.100</p>
            </div>
            <div class="icon-text animate__animated animate__fadeInLeft animate__delay-3s" >
               <Icon name = "location"  size ={35}  color = "#FF4D00" />
               <p>MONTEVIDEO SUR</p>
            </div>
        </div>

        <!-- Linea divisora -->
        <div class="divider"></div>

       <!--Columna Central  -->
        <div class="footer-column center">
            <img src="/BarberiaVikingos/img/footer.png" class="circle-background">
            <div class="text-footer animate__animated animate__zoomIn animate__delay-3s animate__duration-1s">
              <p>Luce poderoso<br>Luce Vikingo.</p>
            </div>
        </div>
        
        <!-- Linea divisora -->
        <div class="divider"></div>

        <!--Columna Derecha -->
        <div class="footer-column right"> 
            <a href="#inicio" class="animate__animated animate__fadeInRight animate__delay-6s animate__duration-1s" >INICIO</a>
            <a href="#nosotros" class="animate__animated animate__fadeInRight animate__delay-3s animate__duration-1s" >NOSOTROS</a>
            <a href="#trabajos" class="animate__animated animate__fadeInRight animate__delay-5s animate__duration-1s" >TRABAJOS</a>
            <a href="#servicios" class="animate__animated animate__fadeInRight animate__delay-4s animate__duration-1s" >SERVICIOS</a>
            <a href="#contactos" class="animate__animated animate__fadeInRight animate__delay-2s animate__duration-1s" >CONTACTOS</a>
        </div>
    </div>
 
</section>

<style>
    
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        height: 450px;
        margin-top: 20px;
        position: relative;
        
    }
    .footer-column{
        text-align: center;
        padding: 10px;
    }
    .icon-text{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap:10px;
        margin: 0;
        
        padding: 0;
    }  
    .icon-text p {
        font-size: 25px; 
        margin: 0; 
        padding: 10px; 
        white-space: nowrap;
    }
    .icon-text svg{
        margin-right: 30px
    }
    .icon-text svg {
        margin: 0; /* Elimina márgenes de los íconos */
        padding: 0; /* Elimina rellenos de los íconos */
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;
        margin-right: 20px;
        width: 300px;
    }
    .left{
        width: 300px;
        display: flex; 
        flex-direction: column; 
        align-items:flex-start;
        justify-content:flex-start; 
        gap: 10px; 
        margin-left: 20px;
    }
    .right a{
        text-decoration: none;
        font-size: 35px;
        color: #000000;
    }
    .center{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    .circle-background{
        position: absolute;
        max-width: 95%;
        opacity: 0.3;
        
    }
    .text-footer{
        font-size: 38px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        z-index: 2;
        
    }
    .divider{
       background-color: #000;
       width: 2px;
       height: 80%;
       margin: 0 50px;
    }



    

</style>

