---
//src/components/Header.astro
---

<header>
    <div class="container">
       <img src="/LogoBV.png" alt="Barbería" class="logo"/>
    
        <nav>
            <ul class="menu">
             <li class="lista"><a href="#inicio">Inicio</a></li>
             <li><a href="#inicio">Nosotros</a></li>
             <li><a href="#inicio">Trabajos</a></li>
             <li><a href="#inicio">Servicios</a></li>
             <li><a href="#inicio">Contactos</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>

    .logo{
        width: 125px;
        margin-left: 20px;
        margin-top: 10px;
       
    }
    .menu{
        display: flex;
        list-style: none;
        gap: 20px;
        padding: 20px;
       
    }
    .menu li a{
        font-size: 30px;
        text-decoration: none;
        text-transform:uppercase;
        color: #000;
        display: block;
        text-align: center;

    }
</style>