<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Barbería Los Vikingos</title>

        <!-- fuente Safira March -->

		<style>
           @font-face{
			font-family: 'Safira March';
			src: url('/Fonts/Safira March Personal Use Only.ttf');
		   }
		</style>

	</head>
	<body>
		<slot />
	</body>
</html>

<!-- Global Styles  -->
<style>
	html,
	body {
		margin: 0;
		padding: 0;
	}
	body{
		background-color: #FF4D00;
		font-family: 'Safira March', serif;
		color: #000000;
		overflow: hidden;
    }
	*{
		box-sizing: border-box;
	}
	a {
        text-decoration: none;
        color: inherit;
    }
	section {
      background-color: #ffffff;
      padding: 20px;
    }
	img {
      max-width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
</style>
